@model Index

@{
    ViewData["Title"] = "Tic Tac Toe";
}

<div class="text-center">
    <h1 class="display-4">Game over</h1>
</div>
<p>
    Как вы попали на эту страницу? Произошло что-то из следующего:
</p>
<ul>
    <li>Вы нажали "Завершить игру"</li>
    <li>Ваш партнёр нажал "Завершить игру"</li>
    <li>У Вас или у Вашего партнёра протухла сессия из-за неактивности</li>
</ul>
<p>
    Как бы то ни было, Вы всегда можете <a href="/">войти в игру заново</a>.
</p>
