@using TicTacToe.HtmlHelpers
@model Index

@{
    ViewData["Title"] = "Tic Tac Toe";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tic Tac Toe</h1>
</div>
@using (Html.BeginForm("ToLobby", "Home", FormMethod.Post))
{
    @Html.Label("Введите ваше имя")
    @Html.TextBox("name")
    @Html.Break()
    @Html.SubmitButton("Войти в лобби")
}