@model Index

@{
    ViewData["Title"] = "Tic Tac Toe";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tic Tac Toe</h1>
</div>

<form method="post" asp-area="" asp-controller="Home" asp-action="Game">
    <label for="name">Введите имя</label>
    <input type="text" id="name" name="name">
    <button type="submit">Начать игру</button>
</form>