@model Index

@{
    ViewData["Title"] = "Tic Tac Toe";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tic Tac Toe</h1>
</div>

<button type ="button" onclick="location.href='@Url.Action("Game","Home")'">Начать игру</button>